body, html {
  height: 100%;
  width: 100%; }

.viewport {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%; }

.nav-btn-full {
  height: 100%;
  border: 0; }

.lowerPanel {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .lowerPanel .panelRight {
    height: 35px; }
  .lowerPanel .compile {
    background-color: rgba(255, 250, 0, 0.8);
    border: solid 2px yellow;
    cursor: pointer;
    transition: background-color 1s; }
  .lowerPanel .compile:hover {
    background-color: #fffa00; }
  .lowerPanel .compile:focus {
    outline: none; }
  .lowerPanel .nav-center-text {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer; }

#editor {
  width: 800px;
  height: 90%; }

#terminal {
  right: 0;
  outline: none;
  border: none;
  width: 35%;
  height: 450px;
  top: 30.8px;
  overflow: hidden;
  background-color: black; }

.nav-center-text {
  color: white; }

.view-wrapper {
  display: flex;
  width: 100%;
  height: 100%; }

.sidebar {
  left: 0;
  top: 0;
  height: 100%;
  width: 500px;
  visibility: hidden;
  index: 10;
  margin-right: -500px;
  transition: margin-right 0.8s; }
  .sidebar .magic-hand {
    right: 0;
    margin-left: -500px;
    transition: margin-left 0.8s; }
  .sidebar .actualStuff {
    position: absolute;
    height: 100%;
    background-color: black;
    width: 500px;
    transition: margin-top 1s;
    color: white;
    left: 0;
    top: 0; }

/*# sourceMappingURL=ide.css.map */
