body, html {
  height: 100%;
  width: 100%;
}

.viewport {
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
}

.nav-btn-full {
  height: 100%;
  border: 0;
}

.lowerPanel {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  .panelRight {
    height: 35px;
  }
  .compile {
    background-color: rgba(255, 250, 0, 0.8);
    border: solid 2px rgba(255, 255, 0, 1);
    cursor: pointer;
    transition: background-color 1s;
  }
  .compile:hover {
    background-color: rgba(255,250,0,1);
  }
  .compile:focus {
    outline: none;
  }
  background-color: rgba(0,0,0,0.8);
  .nav-center-text {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
}

#editor {
  width: 800px;
  height: 90%;
}

#terminal {
  right: 0;
  outline: none;
  border: none;
  width: 35%;
  height: 450px;
  top: 30.8px;
  overflow: hidden;
  background-color: black;
}

.nav-center-text {
  color: white;
}

.view-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  left: 0;
  top: 0;
  height: 100%;
  width: 500px;
  visibility: hidden;
  index: 10;
  margin-right: -500px;
  transition: margin-right 0.8s;
  .magic-hand {
    // position: absolute;
    // top: 0;
    right: 0;
    margin-left: -500px;
    transition: margin-left 0.8s;
  }
  .actualStuff {
    position: absolute;
    // margin-top: -100vh;
    height: 100%;
    background-color: black;
    width: 500px;
    transition: margin-top 1s;
    color: white;
    left: 0;
    top: 0;
  }
}
