body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvitica, sans-serif;
}

#main-ctr {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
}

#logo {
  color: #EFEFEF;
  font-size: 1000%;
  font-weight: bold;
  text-shadow: 2px 2px 5px #AAA;
}

#text {
  margin: 0;
  padding: 3% 5% 3% 5%;
  font-size: 200%;
  text-align: center;
  background-color: #EFEFEF;
}

#go-ctr {
  width: 100%;
  display: flex;
  justify-content: center;
}

#go {
  display: block;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 1% 2% 1% 2%;
  color: #F8F8F8;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px #CCC;
  font-weight: bold;
  font-size: 120%;
  background-color: #3C3;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
