<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
      html,body {
        width: 100%;
        height: 100%;
        background-color: black;
      }
      #terminal {
        bottom: 0;
        position: absolute;
        height: 100%;
        width: 100%;
      }
    </style>

    <link rel="stylesheet" href="/xterm.css" />

    <title>Hello, world!</title>
  </head>
  <body>
    <div id="terminal"></div>

    <script src="/xterm.js"></script>
    <script>

      var term = new Terminal();
      term.open(document.getElementById("terminal"));

      var key = null;

      document.addEventListener('keypress', (e) => {
        // console.log(e);
        key = e.charCode;
        console.log(key);
      });

      document.addEventListener('keyup', (e) => {
        console.log('keyUp');
        key = null;
      });

      var tmpInput = "test\n";
      var i = 0;

      var Module = {
        preRun: [
          // function(){
          //   function stdin(){
          //     // if(i < tmpInput.length){
          //     //   var code = tmpInput.charCodeAt(i);
          //     //   ++i;
          //     //   console.log(code);
          //     //   return code;
          //     // }else {
          //     //   return null;
          //     // }
          //     return key;
          //   }
          //   function stdout(code){
          //     console.log(String.fromCharCode(code));
          //     term.write(String.fromCharCode(code));
          //   }
          //   function stderr(){
          //
          //   }
          //   FS.init(stdin,stdout,stderr);
          // }
        ],
        postRun: [],
        print: (function() {
          return function(text) {
            if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
            console.log(text);
            term.write(text);
          };
        })(),
        printErr: function(text) {
          if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
          console.error(text);
        },
        totalDependencies: 0,
        monitorRunDependencies: function(left) {
          this.totalDependencies = Math.max(this.totalDependencies, left);
        }
      };



      // window.prompt = null;
    </script>
    {{{ SCRIPT }}}
  </body>
</html>
